<%= link_to listing_path(listing), class: "list-group-item" do %>
  <h3 class="list-group-item-heading"><%= listing.name %></h3>
  <p class="list-group-item-text"><%= listing.description %></p>
<% end %>
