.accounts {
  display: none;
  @media (min-width: $screen-xs-min) {
    display: inherit;
    float: right;
    @include padding-leader(.5);
  }
}

header {
  background: #2f2f2f;
  color: rgb(255, 255, 255);
  @include padding-leader(1);
  @include trailer(1);
  @include single-box-shadow;
  .login {
    padding: 0 1em;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}
