body {
  background: url(https://s3-us-west-2.amazonaws.com/skateoregon/static/burnside.JPG) no-repeat center center fixed;
}

.container {
  max-width: 55em;
}

.form {
  @include make-lg-column(3);
  @include make-lg-column-push(4.5);
  @include make-md-column(4);
  @include make-md-column-push(4);
  @include make-sm-column(6);
  @include make-sm-column-push(3);
  @include padding-trailer(1);
  @include content-box;

  a.password {
    display: block;
    @include padding-leader(1);
  }
}

.content-container {
  @include make-row;
}

.listing {
  @include content-box;
}

.park {
  @include trailer(1);
  .park-content {
    @include content-box;
    padding: .25em 1em;
  }
}

.primary {
  @include make-md-column(8);
}

.secondary {
  @include make-md-column(4);
}

.primary, .secondary {
  @include padding-trailer(1);
}
