body {
  background: url(https://s3-us-west-2.amazonaws.com/skateoregon/static/burnside.JPG) no-repeat center center fixed;
}

.container {
  max-width: 55em;
  @include padding-trailer(2);
}

.form {
  @include make-lg-column(3);
  @include make-lg-column-push(4.5);
  @include make-md-column(4);
  @include make-md-column-push(4);
  @include make-sm-column(6);
  @include make-sm-column-push(3);
  @include padding-trailer(1);
  @include content-box;

  a.password {
    display: block;
    @include padding-leader(1);
  }
}

.content-container {
  @include make-row;
}

.listing {
  @include content-box;
}

.address, .parks-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include padding-trailer(1);
}

.parks-list {
  li {
    margin: 0 .5em;
    @include padding-trailer(1);
    .park-title {
      @include adjust-font-size-to(28px);
      text-align: center;
    }
  }
}

.park {
  @include make-sm-column(4);
  @include trailer(1);
  .park-content {
    @include content-box;
    padding: .25em 1em;
  }
}

.primary {
  @include make-md-column(8);
}

.secondary {
  @include make-md-column(4);
}
