<div class="list-group-item">
  <p class="list-group-item-heading"><%= review.content %></p>
  <p class="list-group-item-text">Posted by <%= User.find(review.user_id).email %> on <%= review.created_at.strftime("%B %-d, %Y") %></p>
</div>
